<!DOCTYPE html>
    <head>
        <title>Hello World</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> 
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    </head>
    <body>
        <div id="app">
            <div class="w3-container w3-teal">
                <h1>{{ info }}</h1>
            </div>
            <div class="w3-container"></div>
                <p class="w3-padding">
                    <span v-if="seen"> {{ infoText }} </span>
                </p>
                <p class="w3-padding"> 
                    <button class="w3-button w3-teal" v-on:click="onClick"> {{ buttonText }} </button>
                </p>
                <hr /> 
                <p class="w3-padding">
                    <input class="w3-input w3-border" v-model="message" />
                    <button  class="w3-button w3-margin-top w3-teal" v-on:click="onEnter"> Add </button>
                    <ol>
                        <todo-item
                            v-for="entry in entryList"
                            v-bind:todo="entry"
                            v-bind:key="entry.id"
                        ></todo-item>
                    </ol>
                </p>
            </div>
        </div>
        <script src="index.js"></script>
    </body>
</html>